<!DOCTYPE html>
<html>
    <title>Whether</title>
    <head>
       <link rel="stylesheet" href="/css/style.css"></link>
    </head>
<body>
    <div class="main-content">
    {{>header}}
    <p>{{name}}</p>
    <img class="potrait" src="/img/Screen.png"></img>
    </div>
    
    {{>footer}}
    </body>
</html>
